@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  min-width: 100%;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
}

.btn {
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  padding: 15px 36px;
  color: #ffffff;
}

.header {
  margin: 0 auto;
  max-width: 1920px;
  min-height: 900px;
  background: url("img/back.png") no-repeat 50% 50%;
  background-size: cover;
}

.header__container {
  max-width: 100%;
  min-height: 100%;
}

.header__top {
  max-width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #a1a1a1;
}



.menu__list {
  display: flex;
}

.menu__list a {
  display: inline-block;
  color: #ffffff;
  padding: 0 20px 0 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #ffffff;
}

.header__bottom {
  color: #ffffff;
  max-width: 100%;
  min-height: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.before__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.header__bottom-title {
  max-width: 829px;
  margin-top: 20px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;

  color: #ffffff;
}

.btn {}

.header__bottom-btn {}

.main {
  width: 100%;
  margin: 0 auto;
}

.about {
  margin: 0 auto;
  max-width: 1920px;
  min-height: 703px;
}

.about__container {
  max-width: 1110px;
  margin: 110px auto;
}

.about__text {
  margin-top: 100px;
  margin: auto;
  max-width: 739px;
  min-height: 179px;
  text-align: center;
  margin-bottom: 80px;
}

.about__text-title {
  text-align: center;
  margin-bottom: 50px;
}

.title {}

.about__text-paragh {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;

  /* grey */

  color: #999999;
}

.about__columns {
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.columns__item {}

.columns__img {
  border: 1px solid #4985ff;
  border-radius: 50%;
  padding: 25px;
  position: relative;
  box-sizing: border-box;
  background-color: none;
  margin-left: -110px;
  margin-bottom: -50px;
}

.columns__img::after {}

.columns__title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  max-width: 222px;
  color: #000000;
}

.columns__paragh {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  max-width: 222px;
  min-height: 58px;
  /* grey */

  color: #999999;
}

.about__btn {
  margin: 55px auto;
  display: table;
}

.standards {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 1920px;
  min-height: 797px;
  background: #f6f6f8;
}

.standards__container {
  min-height: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.standard__top-content {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
  flex-wrap: wrap;
}

.standards__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 489px;
  min-height: 100%;
}

.standards__text-title {
  max-width: 424px;
  min-height: 88px;
}

.standards__text-paragh {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;

  /* grey */

  color: #999999;
}

.standards__text-readmore {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-decoration-line: underline;

  /* Accent */

  color: #4985ff;
}

.standards__img {
  max-width: 100%;
}

.standards__img img {
  max-width: 100%;
}

.standard__project {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;

}

.project__item {}

.project-number {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;

  color: #000000;
}

.project-ours {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;

  /* grey */

  color: #999999;
}

.works {
  margin: 0 auto;
  padding-top: 120px;
  max-width: 1920px;
  min-height: 797px;
  position: relative;
}

.works::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 490px;
  background: linear-gradient(90deg, #504dc2 20.44%, #5f12d0 80.91%), #c4c4c4;
  top: 0;
  z-index: -1;
}

.works__container {
  min-height: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.works__body {
  margin-bottom: 85px;
}

.works__text {
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.works__text-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;

  color: #ffffff;
}

.title {}

.works__text-btn {
  font-weight: 500;
  font-size: 16px;
  padding: 15px 35px;
  text-align: center;
  width: 200px;
  height: 45px;
  color: #ffffff;
  display: inline-block;
}

.btn {}

.works__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card__items {
  width: 350px;
}

.card__img {
  max-width: 100%;
  margin-bottom: 30px;
}

.card__title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;
  color: #000000;
}

.card__title span {
  color: #4985ff;
}

.card__paragh {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 30px;
  /* grey */

  color: #999999;
}

.card__more {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-decoration-line: underline;

  /* Accent */

  color: #4985ff;
}

.works__container hr {
  margin-bottom: 85px;
}

.projects {
  margin: 0 auto;
  max-width: 1920px;
  min-height: 776px;
  background: #f6f6f8;
}

.projects__container {
  max-width: 1110px;
  min-height: 776px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects__text {
  margin-top: 100px;
  text-align: center;
}

.projects__text-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  margin-bottom: 50px;
  color: #000000;
}

.title {}

.projects__text__paragh {
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 70px;
  /* grey */
  max-width: 730px;
  min-height: 41px;
  color: #999999;
}

.projects__imgs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.projects__imgs img {
  margin-bottom: 20px;
}



.projects__btn {
  margin: 50px auto;
  display: table;
}

.btn {}

.video {
  margin: 0 auto;
  padding-top: 120px;
  max-width: 1920px;
  min-height: 797px;
  position: relative;
}

.video::after {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 1920px;
  height: 570px;
  background: url("img/albom.png")no-repeat 50% 50%;

  top: 0;

  z-index: -1;
}

.video__container {
  min-height: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.video__albom {}

.video__albom-text {
  text-align: center;
  margin-bottom: 70px;
}

.albom__text-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  margin-bottom: 30px;
  color: #FFFFFF;
}

.title {}

.albom__paragh {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;

  color: #FFFFFF;
}

.video__img {
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 970px;
  min-height: 430px;
  position: relative;
}

.video__img img {
  max-width: 100%;
}

.video__img p {
  padding-left: 100px;
  padding-top: 40px;
  padding-bottom: 30px;
  width: 300px;
  height: 100px;
  position: absolute;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 200px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  background: url("img/icon/play-button.png") no-repeat 10% 50%;
  color: #FFFFFF;
  opacity: 0;
}

.video__img:hover p {
  opacity: 1;
  transition-duration: 0.3s;
}

.video__container hr {
  margin-top: 85px;
}


.video__share {
  max-width: 730px;
  height: 177px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 85px auto;
}

.share__title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #000000;
}

.share__paragh {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;

  /* grey */

  color: #999999;
}

.share__form {
  display: flex;
  justify-content: center
}

.form__email {
  width: 300px;
  height: 45px;
  padding-left: 10px;
  border: none;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px 0px 0px 30px;
}

.form__submit {
  border: none;
  border-radius: 0px 30px 30px 0px;
}

.share__warn {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;

  /* grey */

  color: #999999;
}

.footer {
  margin: 0 auto;
  padding-top: 120px;
  max-width: 1920px;
  min-height: 413px;
  background: #F6F6F8;
}

.footer__container {
  min-height: 100%;
  max-width: 1110px;
  margin: 0 auto;


}

.footer__container>.footer__body>div {
  max-width: 242px;

}

.footer__body {
  max-width: 1110px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__container>.footer__body>div h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 35px;
  color: #000000;
}

.footer__container>.footer__body>div p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  /* grey */
  margin-bottom: 30px;
  color: #999999;
}

.footer__container>.footer__body>div li {
  margin-bottom: 30px;
}

.footer__container>.footer__body>div li a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  /* grey */

  color: #999999;
}

.footer__container>.footer__body>div li a:hover {
  color: #000000;
  font-weight: 500;

}

.footer__contact-info {}

.contact-info-title {}

.info__email {}

.footer__nav {}

.nav__info-title {}

.footer__menu {}

.footer__projects {}

.projects__info-title {}

.copyright {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #E0E0E0;
  align-items: center;
}

@media(max-width:1200px) {
  .header {
    min-width: 100%;

  }

  .main {
    min-width: 100%;
  }

  .footer {
    min-width: 100%;
  }

  .about__columns {
    flex-direction: column;
    align-items: center;
    margin: 80px;
  }

  .standard__project {
    flex-wrap: wrap;
    justify-content: center;
  }



  .standard__top-content {
    justify-content: center;
  }

  .works__cards {
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;

  }

  .card__items {
    margin: 20px;
  }

  .works__text {
    flex-direction: column;
    align-items: center
  }

}

@media(max-width:960px) {
  .header {
    min-width: 100%;

  }

  .main {
    min-width: 100%;
  }

  .footer {
    min-width: 100%;
  }
}

@media(max-width:750px) {
  .header {
    min-width: 100%;

  }

  .main {
    min-width: 100%;
  }

  .footer {
    min-width: 100%;
  }

  .header__menu {
    display: none;
  }

  .works__text-title {
    font-size: 23px;
    width: 100%
  }

  .footer__body {
    justify-content: center;
    flex-wrap: wrap;
  }

  .form__submit {
    max-width: 150px;
  }
}